<footer>
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <!-- <a target="_blank" href="http://www.tiledesk.com" style="text-transform: none"> -->
                    <a target="_blank" href="https://facture.cr/app/" style="text-transform: none">
                        <!-- tiledesk.com -->
                        Facure.cr.com
                    </a>
                </li>

                <li>
                    <!-- <a target="_blank" href="http://www.tiledesk.com/privacy.html" style="text-transform: none"> -->
                    <a target="_blank" [href]="privacyPolicyUrl" style="text-transform: none">
                        {{ privacyPolicyLinkName }}
                    </a>
                </li>

                <li *ngIf="displayTermsAndConditionsLink">
                    <!-- <a target="_blank" href="http://www.tiledesk.com/termsofservice.html" style="text-transform: none"> -->
                    <a target="_blank" [href]="termsAndConditionsUrl" style="text-transform: none">
                        {{ "TermsAndConditions" | translate }}
                    </a>
                </li>

                <li *ngIf="display_contact_us_email">
                    <!-- <a target="_blank" href="mailto:info@tiledesk.com" style="text-transform: none"> -->
                    <a target="_blank" href="mailto:{{contactUsEmail}}" style="text-transform: none">
                        <!-- Need help? write to   -->
                        {{ 'NeedHelpWriteTo' | translate }} <span style="font-weight:800">
                            {{contactUsEmail}}
                        </span>
                    </a>
                </li>
                <li>
                    <!-- <a  style="text-transform: none"> -->
                    <span style="padding: 15px;font-weight: 500; font-size: 12px;">
                        &copy; {{test | date: 'yyyy'}}  Fonox / Facture.CR
                    </span>
                    <!-- </a> -->
                </li>
                <li style="float: right!important; margin-top: 15px;">
                    <img src="assets/img/logos/facture_textc.png" class="sidebar__logo" style="max-height: 25px;">
                </li>
            </ul>
        </nav>
        <!-- &copy; {{test | date: 'yyyy'}} <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web -->
        <!-- <p class="copyright pull-right" style="font-size:12px; font-weight:500; margin-right: 45px ">
           &copy; {{test | date: 'yyyy'}} tiledesk ver 1.0.11
        </p> -->
    </div>
</footer>